{% extends 'header.html' %}
{% block title %} <title>Login</title> {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm col-md-4 col-lg-4 mx-auto">
                {% for message in messages %}
                    <div class="text-danger card card-header font-weight-bolder"
                         style="border-radius: 10px; margin-bottom: 1%; background: paleturquoise">
                        <small>{{ message }}</small>
                    </div>
                {% endfor %}
                <div class="card">
                    <div class="card-header text-center">
                        <legend class="mb-3 ">
                            Login
                        </legend>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <div class="form-group">
                                    <label for="username" class="requiredField">
                                        Username<span class="asteriskField">*</span>
                                    </label>
                                    <input type="text" name="user_name" class="form-control rounded-pill"
                                           id="username"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="id_password" class=" requiredField">
                                        Password<span class="asteriskField">*</span>
                                    </label>
                                    <input type="password" name="password1" maxlength="32"
                                           class="form-control rounded-pill" id="id_password" required>
                                </div>
                            </fieldset>
                            <div class="form-group ml-1">
                                <button class="btn btn-primary rounded-pill" type="submit">Sign
                                    Up
                                </button>
                            </div>
                        </form>
                        <hr>
                        <div>
                            <small class="text-primary font-weight-bolder">
                                Do you need an account? <a class="ml-2 text-danger" href="{% url 'register' %}">Sign
                                Up</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}