{% extends 'header.html' %}
{% block title %} <title>Registration</title> {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-10">
                {% for message in messages %}
                    <div class="text-danger card card-header font-weight-bolder"
                         style="border-radius: 10px; margin-bottom: 1%; background: paleturquoise">
                        <small>{{ message }}</small>
                    </div>
                {% endfor %}

                <div class="card">
                    <div class="card-header text-center">
                        <legend class="mb-3 ">
                            Register a new account
                        </legend>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <div class="row">
                                    <div class="col-sm col-md-5 col-lg-5 mx-auto">

                                        <div class="form-group">
                                            <label for="fname" class="requiredField">
                                                First name<span class="asteriskField">*</span>
                                            </label>
                                            <input type="text" name="fname" maxlength="100"
                                                   class="form-control rounded-pill" id="fname" required autofocus>
                                        </div>
                                        <div class="form-group">
                                            <label for="lname" class=" requiredField">
                                                Last name<span class="asteriskField">*</span>
                                            </label>
                                            <input type="text" name="lname" maxlength="100"
                                                   class="form-control rounded-pill" id="id_user_name" required
                                                   autofocus>
                                        </div>
                                        <div id="div_id_user_name" class="form-group">
                                            <label for="id_user_name" class=" requiredField">
                                                User name<span class="asteriskField">*</span>
                                            </label>
                                            <input type="text" name="user_name" maxlength="100"
                                                   class="form-control rounded-pill" id="id_user_name" required
                                                   autofocus>
                                            <small class="form-text text-danger ml-4">Required. 150 characters
                                                or fewer. Letters,
                                                digits and @/./+/-/_ only.</small>
                                        </div>
                                        <div id="div_id_email" class="form-group">
                                            <label for="id_email" class=" requiredField">
                                                Email<span class="asteriskField">*</span>
                                            </label>
                                            <input type="email" name="email" class="form-control rounded-pill"
                                                   id="id_email"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-sm col-md-5 col-lg-5 mx-auto">
                                        <div id="div_id_password" class="form-group">
                                            <label for="id_password" class=" requiredField">
                                                Password<span class="asteriskField">*</span>
                                            </label>
                                            <input type="password" name="password1" maxlength="32"
                                                   class="form-control rounded-pill" id="id_password" required>
                                            <small id="hint_id_password1" class="form-text">
                                                <ul class="text-danger">
                                                    <li>Your password can’t be too similar to your other personal
                                                        information.
                                                    </li>
                                                    <li>Your password must contain at least 8 characters.</li>
                                                    <li>Your password can’t be a commonly used password.</li>
                                                    <li>Your password can’t be entirely numeric.</li>
                                                </ul>
                                            </small>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_password2" class=" requiredField">Password confirmation<span
                                                    class="asteriskField">*</span></label>
                                            <input type="password" name="password2" autocomplete="new-password"
                                                   class="rounded-pill form-control" required id="id_password2">
                                            <small class="text-danger ml-4">Enter the same password as before, for
                                                verification.</small>
                                        </div>
                                        <div class="form-group mt-5 ml-3">
                                            <button class="btn btn-primary btn-block rounded-pill" type="submit">Sign
                                                Up
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <hr>
                        <div>
                            <small class="text-primary font-weight-bolder">
                                Already Have An Account? <a class="ml-2 text-danger" href="{% url 'login' %}">Sign In</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}